@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

img {
  /* width: 100%; */
  max-width: 100%;
}

.fa-close,
.fa-bars {
  font-size: 1.4rem;
}

.fa-arrow-right {
  font-size: 2rem;
  rotate: 50deg;
}

.underline span i {
  font-size: 1rem;
}

.fa-chevron-right {
  font-size: 2.8rem;
}

#nav-link {
  transition: text-decoration 0.5s ease-in-out, scale 0.5s ease-in-out;
}

#mobile-navigation {
  transition: all 0.5s ease-in-out;
}

#shop-now-btn,
#mobile-shop-now-btn {
  transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out,
    color 0.5s ease-in-out, border 0.5s ease-in-out;
}

#arrowBreathe {
  animation: breathe 2s ease-in-out infinite alternate;
}

#nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  scale: 1.3;
}

#shop-now-btn:hover,
#mobile-shop-now-btn:hover {
  scale: 1.3;
  background-color: #030712;
  color: #fff;
  border: 1px solid #fff;
}

@keyframes breathe {
  from {
    scale: 0.5;
  }
  to {
    scale: 1.3;
  }
}

@media (min-width: 768px) {
  .fa-arrow-right {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .fa-arrow-right {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .fa-arrow-right {
    font-size: 4rem;
  }
}
