@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

img {
  /* width: 100%; */
  max-width: 100%;
}

.fa-close,
.fa-bars {
  font-size: 1.4rem;
}

.fa-arrow-right {
  font-size: 2rem;
  rotate: 50deg;
}

.underline span i {
  font-size: 1rem;
}

.fa-chevron-right {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .fa-arrow-right {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .fa-arrow-right {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .fa-arrow-right {
    font-size: 4rem;
  }
}
